#Database config
DB_HOST='mongodb'
DB_NAME='m4m'
DB_USER=''
DB_PASSWORD=''

MONGODB_URI=mongodb://localhost:27017/m4m?authSource=admin

# App
APP_NAME='m4m_api'
HOST=localhost
PORT=4002
NODE_ENV='development'
HOSTNAME="http://localhost:4002"

#JWT
JWT_SECRET=''

# APP
APP_URL='http://localhost:4200'
API_URL='http://localhost:4002'

#MAIL
MAIL_HOST='mailhog'
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=dev@m4moverall.com


#STRIPE
STRIPE_API_TOKEN=''
STRIPE_API_TOKEN_TEST=''
STRIPE_CANADA_API_TOKEN=''
STRIPE_B2B_API_TOKEN=''
STRIPE_CLAC_API_TOKEN=''

#TWILIO
TWILIO_ACCOUNT_SID=''
TWILIO_AUTH_TOKEN=''

#LOGS
LOG_KEY='FXgmhGTLk5PSXCuiMrs7aR4z'
LOG_LEVEL='debug'

DB_NAME_CHAT=''
DB_USER_CHAT=''
DB_PASSWORD_CHAT=''
DB_HOST_CHAT=''
DB_DIALECT=''