<html lang="">
<head>
    <style>
        /* Ajoutez vos styles CSS ici */
        .primary {
            color: #1b1b98;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #1b1b98;
            color: white!important;
            text-decoration: none;
            border-radius: 10px;
        }
        /*a {
           color: white!important;
        }*/
    </style>
    <title></title>
</head>
<body>

<p>Bonjour <b>{{first_name}} {{last_name}}</b>,</p>
<p>Vous avez demandé la réinitialisation de votre mot de passe.
    <br>Bien vouloir cliquer sur le lien ci-après :</p>
<p><a href="{{resetLink}}" class="btn">Réinitialiser</a></p>
<p><br>Ce Lien expirera dans <b class="primary">1 heure.</b></p>
<p>Cordialement, Votre équipe de support</p>

<img src="data:image/png;base64,{{logoDSI}}" alt="logo TrustX">

</body>
</html>

